<h3 class= "alert alert-info">Introduce una nueva fecha para la posible quedada</h3>

<div class="well">
  <%= render 'admin/possibles/new_form', possible: @possible %>
</div>


<button type="button" class="btn btn-primary">
  <%= link_to 'Back', admin_possibles_path %>
</button>





