<p id="notice"><%= notice %></p>

<p>
  <strong>Fechas posible:</strong>
  <%= @possible.date %>
</p>



<%= link_to 'Edit', edit_admin_possible_path(@possible) %> |
<%= link_to 'Back', admin_possibles_path %>
