



		<div class="center jumbotron jumboindex col-sm-9">

				<div class="title">
					<h1>Qued<i class="app">APP</i>mos?</h1>
				</div>
				<br>

				<div class="homeimage"><%= image_tag '' %></div>

		  		<br>

				<div class="row">
					<div class="well col-sm-12">
						<p><h3 class="title2">¡Bienvenidos a la app para organizar una quedada inolvidable!</h3></p>
						<br>

						<div class="row col-sm-12 center">

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-circle center information" data-toggle="modal" data-target="#exampleModal">
									i
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Instrucciones:</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
										</div>
										<ol>
											<li><h5>Regístrate escribiendo a: <a href=”mailto:fernando.mencia@string.projects.com”>fernando.mencia@string.projects.com</a></h5></li>
											<li><h5>Te llegará un correo confirmando que ya estás registrado.</h5></li>
											<li><h5>Cuando estés registrado loguéate y contesta al formulario.</h5></li>
											<li><h5>En breve recibirás otro correo con la fecha definitiva de la actividad.</h5></li>
											<br>
										</ol>
									</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

										</div>
									</div>
								</div>
					</div>
					<br>

						<%= link_to 'login', login_path,class:"btn btn-default btn-lg btn-xlarge login" %>
					</div>



		</div>



