


<div class="jumbotron jumboformproposal center">

  <div class="alert alert-success">
    <h3 class="title2">Rellena el siguiente formulario e indícanos tus preferencias:</h3>
  </div>
  <%= render 'form', proposal: @proposal %>

  <%= link_to 'Inicio', root_path %>
</div>





